.main-course-cards {
  display: flex;
  background: #1976d2;
  color: whitesmoke;
}

.hero-banner {
  width: 100vw;
  margin: 2em 7em;
  gap: 1em;
}

@media (max-width: 500px) {
  .main-course-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

.action-buttons {
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 0.8em;
  background: rgb(29, 29, 4);
  margin: 1em;
  color: #fff;
}

.heroBanner-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.action-words {
  display: flex;
  background: black;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.4rem;
}
