.features-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media screen {
  
}
.features-card h2 {
  font-size: 1.5rem;
  color: rgb(6, 27, 134);
  font-weight: bold;

}

.feature-card {
  background: rgb(182, 182, 185);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 500px;
  flex-wrap: wrap;
}
.feature-card p {
  color: rgb(20, 19, 19);
}

.heading-why {
  text-align: center;
  font-size: 2rem;
  color: rgb(51, 11, 247);
  margin: 10px;
  font-weight: bold;
}

.heading-message {
  text-align: center;
  margin: 0.7rem;
  font-size: 1.7rem;
}
